#TableShow{
    width: 40%;
    margin: auto;
}

tr{
   height: 50px;
   background-color:rgba(0,188,212,1);
   width: 40%;
   color: white;
}
th {
    background-color: rgba(0,188,212,1);
    color: white;
    height: 50px;
    padding-right: 100px;
    padding-left: 100px
}

td
{
    margin: auto;
    align-content: center;
    text-align: -webkit-center;
    font-size: x-large;
    font-weight: bolder;
    font-style: oblique;
}

.jobview{
    background: white;
    border: 2px solid rgba(0,188,212,1);
    border-radius: 50px;
    height: initial;
    width: 40%;
    text-align: center;
    margin: auto;
    position: relative;

}

.jobviewheading{
    color: rgba(0,188,212,1);
    font-style: normal;
    font-size: x-large;
}

.jobviewbutton{
    height: 25px;
    width: initial;
    background: aliceblue;
    font-size: large;
}